html, body {
  height: 100%;
  width: 100%;
 margin: 0px;
  padding-right: 10px
}

table {

  border: 2px solid black;
  margin: 10px
  
}

#thhis {

  border-right: 5px solid black;
  font-size: 30px;
  background-color:#b6495f
}

#thdev {

  border-left: 5px solid black;
  border-right: 5px solid black;
  font-size: 30px;
  background-color:#b6495f
}

#thcurr {

  border-left: 5px solid black;
  font-size: 30px;
  background-color:#b6495f
}

tr {

  background-color: #9c959d
  
}

#histleft{

  border-right: 5px solid black;
  text-align: left;
  
}

#DEVELCENT{

  border-left: 5px solid black;
  border-right: 5px solid black;
  text-align: center;
}

#curright{

  border-left: 5px solid black;
  text-align: right;
}

body {
  overflow-y: auto;
  overflow-x: hidden;
}

.Split{

  position: relative;
  margin-right: 10px;
  margin-left: 10px;
}

div.Split p {

  text-align:center;
  
}

.split-right-title {
  position: absolute;
  bottom: 500px;
  left: 50px;
  color: #ffffff;
  font-size: 70px;
  font-weight: bold;
  
}

.split-right-middle {
  border-radius: 30px;
  width: 400px;
  position: absolute;
  bottom: 450px;
  right: 100px;
  color: #ffffff;
  background-color: rgba(220, 63, 77, 60%);
  padding: 1%

}



.split-right-bottom {
  text-decoration: none;
  text-align: center;
  border-radius: 25px;
  background-color: rgba(220, 63, 77, 60%);
  position: absolute;
  bottom: 400px;
  right: 100px;
  color: white;
  padding:10px;
  
  
}

.split-right-bottom:hover {

  background-color: rgba(220, 63, 77, 100%);
  color: white;
  
}




.Icebox {

  position: relative;
  margin-right: 10px;
  margin-left: 10px;
}



.icebox-middle-right {
  position: absolute;
  width: 400px;
  border-radius: 30px;
  bottom: 400px;
  right: 50px;
  color: #ffffff;
  background-color: rgba(220, 63, 77, 60%);
  padding: 1%
  

}

.icebox-bottom-right {

  text-decoration: none;
  text-align: middle;
  border-radius: 25px;
  background-color: rgba(220, 63, 77, 60%);
  position: absolute;
  bottom: 350px;
  right: 50px;
  color: black;
  padding: 10px;
  
}

.icebox-bottom-right:hover {

  background-color: rgba(220, 63, 77, 100%);
  color: white;
  
}
