body {
    margin: 0;
    box-sizing: collapse;
}


.head{
  width: auto; 
  height: 60px; 
  display: flex;
  background-color: teal;
}
.leftBox {
  float: left;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 49.5%;
  display: block;
  height: 1000px;
  background-color: indianred;
    }

.rightBox {
  float: right;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: block;
  width: 49.5%; 
  height: 1000px; background-color: aquamarine;
    }

.mapLayout {
  margin-top: 15px; 
  margin-left: 15px; 
  margin-right: 15px; 
  margin-bottom: 10px; 
  float: left; 
  width: 400px;
  height: 400px;
  background-color: rgba(0,0,0,0.5);
  transition: 0.2s;
}

.mapLayout:hover {
  transform: scale(1.5) translate(25%,25%);
  

}

.spacewhite {
  white-space: pre;
  display: inline-block;
  float: right;
}

.mapOverhead {
  width: 97%;
  margin-left: 10px;

  margin-top: 20px;
  
}

#funFACT {
  margin-left:10px;
  margin-top:10px;
  margin-right: 10px;
  overflow: auto;
  border: solid 2px;
  float:right; 
  bottom: 0;
  right: 0;
  width: 300px;
  height:250px;
  position: relative;
  display: block;
  
  background-color: white;
}

.funfactTEXT {
  
  padding: 0;
  margin-bottom: 10px;
  margin-left: 10px;
}
#headerSPLIT {

  text-align: center;
  
}
.logo{
  float: left;
}

#razeGuide{
  float: left;
  margin-left:15px;
  margin-right: 10px;
}
#sinatraa{
  
  float: left;
  clear: left;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px; 
 
}
.footer {
  
}
