html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
  background-color: #3c3a4c;
  
}

*{
 box-sizing: border-box; 
}


@import url('https://fonts.googleapis.com/css2?family=Voces&display=swap');


body {
  overflow-y: auto;
  overflow-x: hidden;
}
  

.logo {

  width: 100%;
  padding: 10px;
  background-color: #672e37;
  
}

.Icebox-1 {

  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.title {

  color: white;
  font-size: 70px;
  text-align: center;
}

.top-left {
  border-radius: 30px;
  padding: 10px;
  margin: 60px;
  width: 400px;
  text-align:right;
  font-family: 'Voces', cursive;
  float:left;
  clear:right;
  color:white;
  background-color: #f94555;
}

.top-right {


  float:right;
  
}

.Icebox-2 {

  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}

.middle-right {

  border-radius: 30px;
  margin: 70px;
  padding: 10px;
  width: 400px;
  font-family: 'Voces', cursive;
  float: right;
  clear:right;
  color:white;
  background-color: #f94555;
}

.middle-left {

  float: left;
  clear: left;
}

.Lineups {

  margin: 40px;

}

.Viper {

  float: left;
  clear:both;
}

.Sova {

  float: left;
  clear: right;
  
}

.Brimstone {

  float: left;
  clear: right;
}
